<div class="wallet_connect">
    <div class="wallet_address">
        <span class="opening_platform">Connect with your wallet</span>
        <button id="confirmButton">Confirm</button>
    </div>
</div>

<nav>
    <img class="logo" src="../assets/pics/Moon-logos_black.png" alt="">
    <ul>
        <li><a href="/" class="link">Home</a></li>
        <li><a href="purchase" class="link">Purchase</a></li>
        <li><a href="market" class="link">Market</a></li>
        <li><a href="learn" class="link">Learn</a></li>
    </ul>
    <div class="login">
        <a href="#" id="connect_wallet1">Connect Wallet</a>
        <a href="dashboard" id="connect_wallet2">Dashboard</a>
    </div>
</nav>

