
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="#">
    <title>Dashboard </title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="#" alt="">
        </div>
        <div class="nav-links">
            <ul>
                <!-- create a box here to display remaining fund here -->
                <div class="blance-wrap">
                    <p>Your balance</p>
                    <div class="balance">
                        <!-- give balance number here with connecting to database -->
                    </div>
                </div>
                <li><a href="#">Deposit</a></li>
                <li><a href="#">Send</a></li>
            </ul>
        </div>
        <div class="wallet_address">
            <!-- give algorithm here. -->
            <h2>Connect your wallet</h2>
            <input type="text" id="#" placeholder="Enter your wallet address">
            <!-- give the js algorithm here -->
            <button id="#">Connect</button>
        </div>
    </nav>
    <div class="container">
        <div class="sidebar">
            <!-- put sidebar buttons here. -->
        </div>
        <div class="main_content">
            <h2>Your Portfolio</h2>
            <h1><%= total-balance %> </h1>
            <table>
                <tr>
                    <th>Asset</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Value</th>
                </tr>
                <tr title="BTC">
                    <td>Bitcoin</td>
                    <td><%= price %></td>
                    <td><%= amount %></td>
                    <td><%= total-value %></td>
                </tr>
                <tr title="ETH">
                    <td>Ethereum</td>
                    <td><%= price %></td>
                    <td><%= amount %></td>
                    <td><%= total-value %></td>
                </tr>
                <tr title="Litecoin">
                    <td>Litecoin</td>
                    <td><%= price %></td>
                    <td><%= amount %></td>
                    <td><%= total-value %></td>
                </tr>
                <tr title="XRP">
                    <td>Ripple</td>
                    <td><%= price %></td>
                    <td><%= amount %></td>
                    <td><%= total-value %></td>
                </tr>
                <tr title="Doge">
                    <td>DogeCoin</td>
                    <td><%= price %></td>
                    <td><%= amount %></td>
                    <td><%= total-value %></td>
                </tr>
                <tr title="Shib">
                    <td>Shiba inu</td>
                    <td><%= price %></td>
                    <td><%= amount %></td>
                    <td><%= total-value %></td>
                </tr>
                <!-- Add more coins for cryptocurrencies -->
            </table>
        </div>
    </div>
    
</body>
</html>

<%- include('partials/footer.ejs') %>
    <!-- give path for js -->
<script src="#"></script>
